In [22]:
import pandas as pd
import numpy as np

Question 1 

What's the version of Pandas that you installed?

In [9]:
pd.__version__

'2.2.3'

In [5]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-10-10 09:42:09--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  1.76MB/s    in 0.2s

2024-10-10 09:42:10 (1.76 MB/s) - ‘laptops.csv’ saved [298573/298573]

Question 2

How many records are in the dataset?

In [3]:
df = pd.read_csv("laptops.csv")
len(df)

2160

In [12]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Question 3

How many laptop brands are presented in the dataset?

In [36]:
len(df["Laptop"]) - sum(df["Laptop"].duplicated())

2160

Question 4 

How many columns in the dataset have missing values?

In [26]:
null_columns = 0
for column in df.columns:
    null_columns += int(pd.isna(df[column]).any())
print("The number of columns that have missing values are: ", null_columns)

The number of columns that have missing values are:  3

Question 5

What's the maximum final price of Dell notebooks in the dataset?

In [7]:
max(df[df["Brand"] == "Dell"]["Final Price"])

3936.0

Question 6. Median value of Screen

In [13]:
df["Screen"].median()

np.float64(15.6)

In [14]:
df["Screen"].mode()

0    15.6
Name: Screen, dtype: float64

In [16]:
df["Screen"].fillna(df["Screen"].median()).median()

np.float64(15.6)

Question 7: Sum of weights

In [28]:
X = np.array(df[df["Brand"] == "Innjoo"][["RAM", "Storage", "Screen"]])
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [35]:
XTX = np.matmul(X.T,X)
y = [1100, 1300, 800, 900, 1000, 1100]

w  = np.matmul(np.matmul(np.linalg.inv(XTX),X.T),y)

In [36]:
sum(w)

np.float64(91.2998806299555)